{% extends 'base.html' %}
{% block tab_title %}
<title>Sobre mí</title>
{% endblock tab_title %}

{% block contenido %}
{% load static %}
    <div class='body_eliminar'>
        <div>
            <h1 class="tituloh1">SOBRE MÍ</h1>
        </div>
        <div class='body_bio'>
            <div class='img_bio'>
                <img class='img_producto_ver' src={% static 'assets/yo.jpeg' %}>
            </div>
            <div class='texto_bio'>
                <h1>Florencia Vasiliauskas</h1>
                <p>Hola! Soy Flor. Empecé a estudiar programación por mera curiosidad. El año pasado hice la carrera de Fron-End en Coderhouse y para obtener la certificación hice los cursos de Desarrollo Web, JavaScript y React. Este año en el trabajo se me presentó la posibilidad de desarrollar herramientas en Python que pudieran ayudar a mi equipo a relizar algunas tareas de manera más sencilla.
                Esta es mi página de proyecto final del Curso de Python. Espero la disfruten!</p><br>
                <p>¡Saludos!</p>
            </div>
        </div>
    </div>
{% endblock contenido %}

