{% extends 'base.html' %}

{% block tab_title %}
<title>Productos</title>
{% endblock tab_title %}

{% block contenido %}
    <h1>Listado Productos</h1>
    {% if  request.user.is_authenticated%}
        <button><a href={% url 'inicio:crear_producto' %}>CREAR PUBLICACIÓN</a></button>
    {% endif %}
    <form action="" method="get">
        {{formulario}}
        <button>Buscar</button>
    </form>
    {% if productos %}
    <div class="cajas">
        {% for producto in productos %}
            <div class="cajas_productos">
                <div >
                    <img src={{producto.imagen.url}} alt="" height='100px'>
                    <p>{{producto.nombre}}</p>
                    <p>{{producto.precio}}</p>
                </div>
                <div>
                    <button>
                        <a href={% url 'inicio:mostrar_producto' producto.id %}>Ver más</a>
                    </button>
                    {% if request.user.is_authenticated %}
                        <button>
                            <a href={% url 'inicio:eliminar_producto' producto.id %}>Eliminar</a>
                        </button>
                        <button>
                            <a href={% url 'inicio:modificar_producto' producto.id %}>Modificar</a>
                        </button>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
    {% elif productos|length == 0 and busqueda == "" %}
    <p>No hay productos creados</p>
    {% else %}
    <p>No se encontró "{{busqueda}}" en los datos cargados.</p>
    {% endif %}
{% endblock contenido %}
