{% extends 'base.html' %}
{% block tab_title %}
<title>Modificar Usuario</title>
{% endblock tab_title %}

{% block contenido %}
    <div>
        <h1 class="tituloperro">MODIFICAR USUARIO</h1>
    </div>
    <div>
        <form action={% url 'inicio:modificar_usuario' usuario.id %} method='POST'>
            {% csrf_token %}
            <table>
                {{form}}
                {{form.media}}
            </table>
            <button>Modificar</button>
        </form>
    </div>
{% endblock contenido %}

