{% extends 'base.html' %}
{% block tab_title %}
<title>Modificar {{producto.nombre}}</title>
{% endblock tab_title %}

{% block contenido %}
    <div class='body_productos'>
        <div>
            <h1 class="tituloh1">Modificar {{producto.nombre}}</h1>
        </div>
        <div>
            <form action={% url 'inicio:modificar_producto' producto.id %} method='POST'>
                {% csrf_token %}
                <table>
                    {{form.as_p}}
                    {{form.media}}
                </table>
                <button class='producto_btn'><a class="hipervinculo_productos">Modificar</a></button>
            </form>
        </div>
    </div>
{% endblock contenido %}

