{% extends 'base.html' %}
{% block tab_title %}
<title>Modificar {{producto.nombre}}</title>
{% endblock tab_title %}

{% block contenido %}
    <div>
        <h1 class="tituloh1">Modificar {{producto.nombre}}</h1>
    </div>
    <div>
        <form action={% url 'inicio:modificar_producto' producto.id %} method='POST'>
            {% csrf_token %}
            <table>
                {{form}}
                {{form.media}}
            </table>
            <button>Modificar</button>
        </form>
    </div>
{% endblock contenido %}

