{% extends 'base.html' %}

{% block tab_title %}
<title>Mensajes</title>
{% endblock tab_title %}

{% block contenido %}
    <h1>Listado Mensajes</h1>
    {% if  request.user.is_authenticated%}
        <button><a href={% url 'mensajeria:crear_mensaje' %}>CREAR MENSAJE</a></button>
    {% endif %}
    {% if mensajes_recibidos %}
    <div class="cajas">
        <p>MENSAJES RECIBIDOS</p>
        {% for mensaje in mensajes_recibidos %}
            <div class="cajas_mensajes">
                <div>
                    <li>Mensaje: {{mensaje.texto}}</li>
                    <li>De: {{mensaje.autor}}</li>
                    <li>Recibido: {{mensaje.fecha_creacion|date:'d/m/Y'}}</li>
                </div>
            </div>
        {% endfor %}
    </div>
    {% endif %}
    {% if mensajes_enviados %}
    <div class="cajas">
        <p>MENSAJES ENVIADOS</p>
        {% for mensaje in mensajes_enviados %}
            <div class="cajas_mensajes">
                <div>
                    <li>Mensaje: {{mensaje.texto}}</li>
                    <li>Para: {{mensaje.destinatario}}</li>
                    <li>Enviado: {{mensaje.fecha_creacion|date:'d/m/Y'}}</li>
                </div>
            </div>
        {% endfor %}
    </div>
    {% endif %}{% endblock contenido %}
