{% extends 'base.html' %}

{% block tab_title %}
<title>Mensajes</title>
{% endblock tab_title %}

{% block contenido %}
    <div class='body_mensajes'>
        <h1>MENSAJES</h1>
        {% if  request.user.is_authenticated%}
        <div class='crear_msj_btn'>
            <button class="producto_btn">
                <a class='hipervinculo_productos' href={% url 'mensajeria:crear_mensaje' %}>CREAR MENSAJE</a>
            </button>
        </div>
        {% endif %}
        <div class='body_mensajes_ver'> 
            {% if mensajes_recibidos %}
            <div class="cajas_memsajes">
                <p class='texto_mensaje'>MENSAJES RECIBIDOS</p>
                <div class="caja_mensaje">
                {% for mensaje in mensajes_recibidos %}
                    <div class='mensaje'>
                        <li class='campo_msj'>De: {{mensaje.autor}}</li>
                        <li>{{mensaje.texto}}</li>
                        <li class='campo_msj'>Recibido: {{mensaje.fecha_creacion|date:'d/m/Y'}}</li>
                    </div>
                {% endfor %}
                </div>
            </div>
            {% endif %}
            {% if mensajes_enviados %}
            <div class="cajas_memsajes">
                <p class='texto_mensaje'>MENSAJES ENVIADOS</p>
                <div class="caja_mensaje">
                {% for mensaje in mensajes_enviados %}
                    <div class='mensaje'>
                        <li class='campo_msj'>Para: {{mensaje.destinatario}}</li>
                        <li>{{mensaje.texto}}</li>
                        <li class='campo_msj'>Enviado: {{mensaje.fecha_creacion|date:'d/m/Y'}}</li>
                    </div>
                {% endfor %}
                </div>    
            </div>
            {% endif %}
            </div>
        </div>
    </div>
{% endblock contenido %}
