{% extends 'base.html' %}

{% block tab_title %}
<title>Logout</title>
{% endblock tab_title %}

{% block contenido %}
    <div class='body_eliminar'>
        <h1 class="tituloh1">Tu contraseña se cambió con éxito! :D</h1>
        <div>
            <button class='producto_btn'><a class='hipervinculo_productos' href={% url 'usuario:editar_perfil' %}>VOLVER A MODIFICAR PERFIL</a></button>
            <button class='producto_btn'><a class='hipervinculo_productos' href={% url 'inicio:inicio' %}>VOLVER AL INICIO</a></button>
        </div>
    </div>
{% endblock contenido %}
