{% extends 'base.html' %}
{% block tab_title %}
<title>Usuario</title>
{% endblock tab_title %}

{% block contenido %}
<div class='body_productos_ver'>
    <div class='caja_pruducto_img'>
        <h1 class="tituloh1">{{user.username}}</h1>
        {% if  request.user.infoextra.avatar%}
            <img class='caja_pruducto_img' src={{request.user.infoextra.avatar.url}}>
        {% endif %}
    </div>
    <div class='caja_usuario_info'>
        {% if user.first_name %}
            <li>Nombre: {{user.first_name}}</li>
        {% endif %}
        {% if  user.last_name%}
            <li>Apellido: {{user.last_name}}</li>
        {% endif %}
        {% if  user.email%}
            <li>Email: {{user.email}}</li>
        {% endif %}
        <li>Usuario desde: {{user.date_joined|date:'d/m/Y'}}</li>
        {% if request.user.infoextra.red_social %}
            <li>Red Social: {{request.user.infoextra.red_social}}</li>
        {% endif %}
        <div class='mostrar'>
            <button class='producto_btn'><a class='hipervinculo_productos' href={% url 'usuario:editar_perfil' %}>MODIFICAR PERFIL</a></button>
            <button class='producto_btn'><a class='hipervinculo_productos' href={% url 'inicio:crear_producto' %}>CREAR PUBLICACIÓN</a></button>
        </div>
    </div>
</div>
{% endblock contenido %}

