{% extends 'base.html' %}

{% block tab_title %}
<title>Registrarse</title>
{% endblock tab_title %}

{% block contenido %}
    <div class='body_eliminar'>
        <div>
            <h1 class="tituloh1">REGISTRO</h1>
        </div>
        <div class='caja_form'>
            <form action={% url 'usuario:registrarse' %} method='POST'>
                {% csrf_token %}
                <table>
                    {{formulario.as_p}}
                </table>
                <button class='producto_btn'>
                    <a class='hipervinculo_productos'>Registrar</a>
                </button>
            </form>
        </div>
    </div>
{% endblock contenido %}

