.body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.nav {
    background-color: yellow;
    height: 75px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav_log_in {
    display: flex;
    align-items: center;
}

.text_login {
    margin-right: 50px;
}

.nav_img {
    height: 40px;
    margin-right: 10px;
}

.hipervinculo_paginas {
    margin: 20px;
    text-decoration: none;
}

.hipervinculo {
    text-decoration: none;
}

.log_btn {
    padding: 10px 15px;
    background-color: white;
    border: solid 1px;
    border-radius: 5px;
}

.footer{
    background-color: yellow;
    margin-top: auto;
    height: 50px;
}

.cajas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.cajas_productos {
    display: flex;
    flex-direction: column;
    margin: 30px;
    border: solid 1px;
    padding: 10px;
    border-radius: 10px;
    align-items: center;
}