.nav {
    background-color: yellow;
}

.tituloinicio {
    background-color: violet;
}

.tituloprueba{
    background-color: pink;
}

.tituloperro{
    background-color: blueviolet;
}

.footer{
    background-color: yellow;
}