
.nav {
    background-color: yellow;
    height: 50px;
}

.cont_inicio{
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: violet;
    height: 100px;
    width: 100vw;
}

.tituloprueba{
    background-color: pink;
}

.tituloperro{
    background-color: blueviolet;
}

.footer{
    background-color: yellow;
    margin-top: auto;
    height: 50px;
}

.body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.nav_btns{
    display: flex;
    justify-content: space-around;
}
