<!DOCTYPE html>
<html lang="en">
    {% load static %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block tab_title %}
        <title>Inicio</title>
        {% endblock tab_title %}       
        <link rel="stylesheet" href={% static 'css/style.css' %}>
    </head>
    <body class="body">
        <nav class='nav'>
            <div class='nav_btns'>
                <a href={% url 'inicio:inicio' %}>INICIO</a>
                <a href={% url 'inicio:usuarios' %}>USUARIOS</a>
                <a href={% url 'inicio:productos' %}>PRODUCTOS</a>
            </div>
        </nav>
        <div>
            {% block contenido %}
            {% endblock contenido %}
        </div>
        <footer class='footer'>
            <div>
            </div>
        </footer>
    </body>
    </html>